.accordion {
  .header {
    @extend .h6;
    padding: 16px 0 0 0;
    border-bottom: 1px solid rgb(224, 224, 224);
    button {
      width: 100%;
      background: transparent !important;
      display: flex !important;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }
    .material-icons {
      flex: 0 1 30px;
    }
  }
  .tr {
    display: flex;
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(224, 224, 224);
    .td {
      @extend .t3;
      font-weight: $light;
      display: flex;
      flex: 1;
      align-items: flex-end;
      justify-content: space-between;
      padding: 0 30px 2.5px;
      .col {
        flex: 1 1 auto;
        &:nth-child(2) {
          flex: 0 1 auto;
        }
      }
    }
  }
}
