.accordion {
  .header {
    @extend .h6;
    padding: 0;
    border-bottom: 1px solid rgb(224, 224, 224);
    button {
      width: 100%;
      background: transparent !important;
      display: flex !important;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }
    .material-icons {
      flex: 0 1 30px;
    }
  }
  tr {
    height: 40px !important;
    td {
      height: 38px !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
      font-size: 16px !important;
      font-weight: 300 !important;
      &:nth-child(2n) {
        text-align: right !important;
      }
    }
  }
}
