.app-bar {
  position: fixed !important;
  transform: translate3d(0,0,0) !important;
  .title {
    width: 30px;
    height: 64px;
    display: block;
    padding: 15px 0 0 15px;
    margin: -8px 0 0 -8px !important;
    box-sizing: border-box;
  }
}

.border {
  .app-bar {
    border-bottom: 1px solid $col-border;
  }
}

@media screen and (min-width: $tablet-min) {
  .app-bar {
    .title {
      width: 80px;
      padding: 15px 0 0 40px;
    }
  }
  .border {
    .title {
      border-right: 1px solid $col-border;
    }
  }
}

