.cardgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 49px 0 135px;
  .tile {
    width: 529px;
    height: 378px;
    margin-bottom: 92px;
    position: relative;
    .image {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    .head {
      width: 100%;
      height: 114px;
      position: absolute;
      bottom: 0;
      box-sizing: border-box;
      padding: 30px 50px;
      color: white;
      background-color: rgba(0, 0, 0, 0.55);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .descript {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .title {
          font-size: 21px;
        }
        .foot {
          font-size: 13px
        }
      }
    }
  }
}

.load {
  position: absolute;
  bottom: 0;
  left: -2000px;
  right: -2000px;
  height: 135px;
  padding-top: 40px;
  box-sizing: border-box;
  background-color: #606060;
  text-align: center;
  .loadmore {
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    outline: none;
  }
}
