.contact-body {
  max-width: 448px;
  .title {
    @extend .t3;
    text-align: center;
    font-weight: $medium;
    color: black;
    margin: 30px 0 0 0;
  }
  .text {
    margin: 30px 0 0 0;
    font-weight: $light;
    color: black;
    white-space: pre-line;
  }
  .contact-form {
    .text-input {
      margin-bottom: -20px;
    }
  }
}

.contact-submit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
  border: none;
}

.reaction {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  font-weight: 300;
  box-sizing: border-box;
  white-space: pre-line;
}
