.detail {
  @extend .cont;
  width: 100%;
  min-width: 300px;
  padding-top: 112px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .image {
    margin-right: 100px;
    height: 420px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.detail-form {
  text-align: left;
  flex: 0 0 300px;
  padding: 0 64px 0 0;
  min-width: 0;
  #detail-side {
    padding-top: 54px;
    transform: translate3d(0,0,0) !important;
    width: 300px;
  }
  .fixed {
    margin-top: -54px;
    position: fixed;
  }
  .absolute {
    position: absolute;
    bottom: 60px;
  }
  .title {
    @extend .h5;
    @extend .nowrap;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 39px;
  }
  .field {
    flex: 1 1 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    svg {
      display: none !important;
    }
  }
  .fa, .material-icons {
    flex: 0 0 35px;
    line-height: 46px;
    font-size: 18px !important;
    padding-left: 2px;
  }
  .date-picker {
    flex: 1 1 100%;
  }
  hr {
    width: calc(100% + 35px) !important;
    left: -35px !important;
    border-bottom: 1px solid black !important;
  }
  .price {
    font-weight: $medium;
    padding-left: 35px;
    padding-top: 46px;
    text-transform: uppercase;
  }
  .ride-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 66px;
    margin-top: 43px;
    border: 2px solid #6B6B6B;
    font-size: 24px;
    letter-spacing: 5px;
    background: transparent;
    border-radius: 3px;
    .raido {
      padding-right: 5px;
    }
  }
}

.detail-offer {
  flex: 1;
  padding: 0 30px 60px;
  .title {
    @extend .h3;
    margin-top: 57px;
  }
  .owner {
    display: flex;
    align-items: center;
    padding-top: 34px;
    .picture {
      display: inline-block;
      width: 55px;
      height: 55px;
      background-size: cover;
    }
    .owner-details {
      @extend .t3;
      display: inline-block;
      padding: 10px;
      vertical-align: top;
    }
  }
  .text {
    @extend .t2;
    padding: 17px 0 30px;
    line-height: 30px;
  }
}

.comments {
  padding: 60px 0 30px;
  .comments-cont {
    padding: 22px 30px;
    .references {
      @extend .t3;
    }
    .ratings {
      margin-top: 45px;
    }
    .row {
      display: flex;
      margin-bottom: 17px;
      .rate {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        padding-right: 25px;
        .type {
          @extend .t5;
          padding-right: 20px;
        }
        .stars {
          .material-icons {
            font-size: 18px !important;
            padding: 2px;
          }
        }
      }
    }
    .comment {
      margin-top: 57px;
      .author {
        @extend .t5;
        display: flex;
        .picture {
          width: 35px;
          height: 35px;
          background-image: url('https://scontent-waw1-1.cdninstagram.com/t51.2885-15/e35/15877344_344661349253204_5404343355553349632_n.jpg');
          background-size: cover;
          background-position: center center;
        }
        .fullname {
          padding: 9px 0px 0 19px;
        }
        .location {
          padding: 9px 0px 0 19px;
        }
      }
      .text {
        @extend .t5;
        font-style: italic;
        padding: 14px 0;
        line-height: 30px;
      }
    }
  }
  .view-all {
    @extend .t6;
    border-top: 1px solid black;
    margin-top: 8px;
    height: 54px;
    text-decoration: underline;
    text-align: center;
    padding-top: 21px;
    cursor: pointer;
    box-sizing: border-box;
  }
}

@keyframes colorchange {
  0% {
    stroke: #BB0003 !important;
  }
  50% {
    stroke: #FF2427 !important;
    opacity: 0.5;
  }
  100% {
    stroke: #BB0003 !important;
  }
}

@-webkit-keyframes colorchange {
  0% {
    stroke: #BB0003 !important;
  }
  50% {
    stroke: #FF2427 !important;
    opacity: 0.5;
  }
  100% {
    stroke: #BB0003 !important;
  }
}

.loading {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  .raido {
    width: 40px;
    height: 100px;
    #Stroke-1 {
      animation: colorchange 1s infinite ease-in-out;
       -webkit-animation: colorchange 1s infinite ease-in-out;
    }
  }
}
