.footer {
  display: flex;
  position: relative;
  width: 100%;
  height: 140px;
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: 13px;
  font-weight: $light;
  .contact {
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    letter-spacing: 1px;
    li {
      padding-bottom: 10px;
    }
    &.right {
      text-align: right;
    }
  }
  .madeby {
    position: absolute;
    bottom: 30px;
    right: 19px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: $tablet-min) {
  .footer {
    flex-wrap: nowrap;
    flex-direction: column;
    height: 309px;
    padding: 53px;
    .contact {
      li {
        padding-bottom: 14px;
      }
      &.right {
        text-align: left;
      }
    }
    .madeby {
      bottom: 62px;
      right: 53px;
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .footer {
    padding: 53px 113px;
    .madeby {
      right: 113px;
    }
  }
}
