.form-pure {
  .title {
    // @extend .h5;
    // @extend .dots;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 39px;
  }
  .field {
    width: 100%;
    height: 50px;
    position: relative;
    .date-picker input {
      cursor: pointer !important;
    }
    .fa, .material-icons {
      position: absolute !important;
      font-size: 24px !important;
      line-height: 46px;
    }
    &.empty {
      height: 45px;
      margin-bottom: 5px;
      border-bottom: 1px solid black;
      line-height: 50px;
      color: black;
      cursor: default;
      .text {
        font-weight: $medium;
        margin-left: 35px;
      }
    }
    svg { display: none !important }
    hr { border-bottom: 1px solid black !important }
  }
}
