@font-face {
  font-family: "Junicode";
  src: url("/assets/fonts/Junicode.woff") format("woff"), url("/assets/fonts/Junicode.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("/assets/fonts/Junicode-Bold.woff") format("woff"), url("/assets/fonts/Junicode-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("/assets/fonts/Junicode-Italic.woff") format("woff"), url("/assets/fonts/Junicode-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Junicode";
  src: url("/assets/fonts/Junicode-BoldItalic.woff") format("woff"), url("/assets/fonts/Junicode-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

* {
  outline : 0 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

button {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  cursor: pointer !important;
  padding: 0;
  background: transparent;
  &:disabled {
    cursor: not-allowed !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: underline;
}

.cont {
  position: relative;
  max-width: 1120px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.raido {
  font-family: Junicode;
  color: #AD000D;
}

.inline {
  display: inline-block;
}

.float-left {
  float: left;
}
