body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

* {
  outline : 0 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

button {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  cursor: pointer !important;
  padding: 0;
  background: transparent;
  &:disabled {
    cursor: not-allowed !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: underline;
}

.cont {
  position: relative;
  max-width: 1120px;
  width: 1120px;
  margin: auto;
  box-sizing: border-box;
}

.raido {
  color: #AD000D;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTRweCIgaGVpZ2h0PSIzNXB4IiB2aWV3Qm94PSIwIDAgMTQgMzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+ICAgICAgICA8cG9seWdvbiBpZD0icGF0aC0xIiBwb2ludHM9IjAuMDM3MTQyODU3MSAzNC4wMTI4NTM4IDEzIDM0LjAxMjg1MzggMTMgMCAwLjAzNzE0Mjg1NzEgMCI+PC9wb2x5Z29uPiAgICA8L2RlZnM+ICAgIDxnIGlkPSJSYWlkbyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8bWFzayBpZD0ibWFzay0yIiBmaWxsPSJ3aGl0ZSI+ICAgICAgICAgICAgPHVzZSB4bGluazpocmVmPSIjcGF0aC0xIj48L3VzZT4gICAgICAgIDwvbWFzaz4gICAgICAgIDxnIGlkPSJDbGlwLTIiPjwvZz4gICAgICAgIDxwYXRoIGQ9Ik0wLjYxOTA0NzYxOSwzNi4yODgxODEgTDAuNjE5MDQ3NjE5LDIuMjM4MTgxNzkgTS0xLjE0NjM2OTM5LDAuNDQ5NzEwODE3IEwxMC41NjA5NTI0LDkuNDI1NjU4ODggTDAuMTc5MTk5MjE5LDE2Ljg0MzEzOTYgTDE0LjEwMDY2NjcsMzIuMDYzOTU1NiIgaWQ9IlN0cm9rZS0xIiBzdHJva2U9IiNCQjAwMDMiIHN0cm9rZS13aWR0aD0iMiIgbWFzaz0idXJsKCNtYXNrLTIpIj48L3BhdGg+ICAgIDwvZz48L3N2Zz4=);
}

.inline {
  display: inline-block;
}

.float-left {
  float: left;
}
