@font-face {
  font-family: "Junicode";
  src: url("/assets/fonts/Junicode.woff") format("woff"), url("/assets/fonts/Junicode.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("/assets/fonts/Junicode-Bold.woff") format("woff"), url("/assets/fonts/Junicode-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("/assets/fonts/Junicode-Italic.woff") format("woff"), url("/assets/fonts/Junicode-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Junicode";
  src: url("/assets/fonts/Junicode-BoldItalic.woff") format("woff"), url("/assets/fonts/Junicode-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

button {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  outline : 0 !important;
  cursor: pointer !important;
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cont {
  position: relative;
  max-width: 1120px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.raido {
  font-family: Junicode;
  color: #AD000D;  
}

.nowrap {
  white-space: nowrap;
}

.inline {
  display: inline-block;
}
