body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

* {
  outline : 0 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

button {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  cursor: pointer !important;
  padding: 0;
  background: transparent;
  &:disabled {
    cursor: not-allowed !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.cont {
  position: relative;
  max-width: 1120px;
  padding-top: 64px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.inline {
  display: inline-block;
}

.float-left {
  float: left;
}

.btn {
  @extend .t3;
  min-width: 150px;
  min-height: 36px;
  border-radius: 3px;
  border: 1px solid #9B9B9B;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 10px;
  box-sizing: border-box;
}

.dialog-raido {
  padding: 4px 24px 0 !important;
  .raido {
    width: 28px;
    height: 69px;
    margin-bottom: -8px;
  }
}

.dots {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
