$mobile-min: 320px;
$mobile-max: 479px;

$tablet-min: 480px;
$tablet-max: 767px;

$desktop-min: 768px;
$desktop-max: 1200px;

$grid__bp-md: 768;
$grid__cols: 12;

.mobile-hid {
  display: none !important;
}

.mobile-only {
  display: initial !important;
}

@media screen and (min-width: $tablet-min) {
  .mobile-hid {
    display: initial !important;
  }
  .mobile-only {
    display: none !important;
  }
}
