.grupon {
  padding: 64px 0 20px 0;
  margin: 0 auto;
  text-align: center;
  .wrap {
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
  }
  .sublist, .subacc {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    p {
      display: inline;
    }
    a {
      color: #BB0003;
      text-decoration: underline;
    }
  }
  .subacc {
    padding: 20px 0 0;
  }
  .sublist {
    padding-left: 20px;
  }
  .bold {
    font-weight: $regular;
  }
  .center {
    display: block !important;
    text-align: center;
  }
}

@media screen and (min-width: $tablet-min) {
  .grupon {
    max-width: 650px;
    .sublist, .subacc {
      line-height: 25px;
    }
  }
  .acc-header {
    button {
      span {
        font-size: 16px !important;
      }
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .grupon {
    padding: 0 0 20px 0;
    .wrap {
      font-size: 20px;
      .subwrap {
        padding-bottom: 40px
      }
    }
    .sublist, .subacc {
      font-size: 20px;
    }
    .subacc {
      padding: 30px 0;
    }
    .sublist {
      padding-left: 30px;
    }
    .acc-header {
      button {
        span {
          font-size: 20px !important;
        }
      }
    }
  }
}
