.groupon-logo-mob {
  width: 100%;
  height: 50px;
  position: relative;
  img {
    width: 130px;
    height: auto;
    float: left;
  }
}

.groupon {
  padding: 64px 0 20px 0;
  margin: 0 auto;
  text-align: center;
  .map-wrap {
    display: flex;
    flex-direction: column;
    #map {
      flex: 1 0 auto;
      height: 270px;
    }
    .map-addr {
      padding-top: 15px;
      box-sizing: border-box;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      .addr {
        padding-bottom: 15px;
      }
    }
  }
  .wrap {
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
  }
  .sublist, .subacc {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    p {
      display: inline;
    }
    a {
      color: #BB0003;
      text-decoration: underline;
    }
  }
  .subacc {
    padding: 20px 0 0;
  }
  .sublist {
    padding-left: 20px;
  }
  .bold {
    font-weight: $regular;
  }
  .center {
    display: block !important;
    text-align: center;
  }
}

@media screen and (min-width: $tablet-min) {
  .groupon {
    max-width: 900px;
    .sublist, .subacc {
      line-height: 25px;
    }
    .map-wrap {
      flex-direction: row;
      #map {
        flex: 1 0 auto;
        height: 300px;
      }
      .map-addr {
        flex: 0 0 220px;
        padding: 0 15px;
        .addr {
          padding: 0;
        }
      }
    }
  }
  .acc-header {
    button {
      span {
        font-size: 16px !important;
      }
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .groupon-logo {
    width: 268px;
    align-self: center;
    img {
      width: 100%;
      height: auto;
    }
  }

  .groupon {
    padding: 40px 0 20px 0;
    .wrap {
      font-size: 20px;
      .subwrap {
        padding-bottom: 40px
      }
    }
    .sublist, .subacc {
      font-size: 20px;
    }
    .subacc {
      padding: 30px 0;
    }
    .sublist {
      padding-left: 30px;
    }
    .acc-header {
      button {
        span {
          font-size: 20px !important;
        }
      }
    }
  }
}
