.header {
  padding-top: 83px;
  display: flex;
  flex-direction: column;
  .title {
    @extend .h1;
    text-align: center;
    & .below {
      letter-spacing: 3.9px;
      padding-right: 10px;
    }
  }
  .replace {
    position: relative;
    color: transparent;
    .raido {
      width: 25px;
      height: 61px;
      position: absolute;
      top: 0;
      left: 4px;
    }
  }
  .text {
    @extend .h4;
    padding: 33px 0;
    text-align: center;
  }
}

@media screen and (min-width: $tablet-min) {
  .header {
    .replace {
      .raido {
        width: 28px;
        height: 70px;
        top: 4px;
        left: 10px;
      }
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .header {
    max-width: 1120px;
    padding: 83px 80px 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    .text {
      padding: 10px 0 0 0;
      line-height: 48px;
      .text-in {
        letter-spacing: 3px;
      }
    }
  }
}
