$card-mobile-height: 240px;
$card-mobile-width: 100%;
$card-mobile-head: 78px;

$card-height: 378px;
$card-width: 529px;
$card-head-color: rgba(0, 0, 0, 0.55);
$card-head-dark: rgba(0, 0, 0, 0.65);

.offers {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: $card-mobile-width;
  height: $card-mobile-height;
  display: flex;
  margin: 0 auto 33px;
  position: relative;
  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .head {
    width: 100%;
    height: $card-mobile-head;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    box-sizing: border-box;
    color: white;
    background-color: $card-head-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      @extend .dots;
      font-size: 16px;
      font-weight: $medium;
    }
    .foot {
      @extend .dots;
      font-size: 13px;
      font-weight: $medium;
      padding-top: 5px;
    }
  }
}

@media screen and (min-width: $tablet-min) {
  .offers {
    .card {
      margin: 0 auto 92px auto;
    }
  }
  .card {
    width: $card-width;
    height: $card-height;
    .head {
      height: 114px;
      .title {
        font-size: 21px;
      }
      .foot {
        font-size: 13px
      }
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .offers {
    padding: 0 20px;
    box-sizing: border-box;
    .card {
      margin: 0 0 5%;
      flex: 0 47.5%;
    }
  }
  .card {
    width: inherit;
    height: $card-height;
    .head {
      height: 114px;
      .title {
        font-size: 21px;
      }
      .foot {
        font-size: 13px
      }
    }
  }
}

.load {
  .head {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: slidingAnimation;
    animation-timing-function: linear;
    background: linear-gradient(to right, $card-head-color 8%, $card-head-dark 18%, $card-head-color 33%);
    background-size: 900px;
  }
}

@keyframes slidingAnimation{
  0% {
    background-position: -450px 0
  }
  100% {
    background-position: 450px 0
  }
}
