.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 49px 0 0;
  // padding: 49px 0 135px;
}

.card {
  width: 529px;
  height: 378px;
  margin-bottom: 92px;
  position: relative;
  .image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
  }
  .head {
    width: 100%;
    height: 114px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    color: white;
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .descript {
      padding: 30px 50px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .title {
        font-size: 21px;
      }
      .foot {
        font-size: 13px
      }
    }
  }
}

.offers-wrap {
  position: relative;
  .load {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 135px;
    padding-top: 40px;
    box-sizing: border-box;
    background-color: #606060;
    text-align: center;
    .loadmore {
      color: white;
      font-size: 30px;
      cursor: pointer;
      text-decoration: underline;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
}
