$card-height: 378px;
$card-width: 529px;
$card-head-color: rgba(0, 0, 0, 0.55);
$card-head-dark: rgba(0, 0, 0, 0.65);

.offers {
  @extend .cont;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 49px 0 0;
  min-height: 500px;
}

.card {
  width: $card-width;
  height: $card-height;
  margin-bottom: 92px;
  position: relative;
  .image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
  }
  .fa {
    display: block !important;
    font-size: 323px !important;
    line-height: $card-height !important;
    color: #9B9B9B !important;
    text-align: center;
  }
  .head {
    width: 100%;
    height: 114px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    color: white;
    background-color: $card-head-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .descript {
      padding: 30px 50px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .title {
        font-size: 21px;
      }
      .foot {
        font-size: 13px
      }
    }
  }
}

.load {
  .head {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: slidingAnimation;
    animation-timing-function: linear;
    background: linear-gradient(to right, $card-head-color 8%, $card-head-dark 18%, $card-head-color 33%);
    background-size: 900px;
  }
}

@keyframes slidingAnimation{
  0% {
    background-position: -450px 0
  }
  100% {
    background-position: 450px 0
  }
}
