$card-mobile-head: 78px;
$card-height: 378px;
$card-width: 529px;
$card-head-color: rgba(0, 0, 0, 0.55);
$card-head-dark: rgba(0, 0, 0, 0.65);

.indiegogo-wrapper {
  margin: 0 auto 89px;
  > a {
    display: block;
    > h2.jet-black {
      color: black;
      text-decoration: underline;
    }
    img {
      padding: 34px 0px 0;
      width: 233px;
      display: block;
      margin: 0 auto;
    }
  }
}

.offers, .loadmore {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers-empty {
  width: 100%;
  margin: 0 auto 30px;
  text-align: center;
}

.loadmore {
  text-transform: uppercase;
  height: 78px;
  font-weight: 800;
  font-size: 18px;
  justify-content: center;
  display: block;
}

.card {
  width: 100%;
  display: flex;
  margin: 0 auto 55px;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 71.45%;
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .head {
    width: 100%;
    height: $card-mobile-head;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    color: white;
    background-color: $card-head-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      @extend .dots;
      font-size: 15px;
      font-weight: 300;
      max-width: 62%;
    }
    .foot {
      @extend .dots;
      font-size: 12px;
      font-weight: 300;
      padding-top: 5px;
      max-width: 62%;
    }
    .ride-button-cta {
      position: absolute;
      top: 26%;
      right: 15px;
      font-size: 18px;
      border: solid 1px white;
      padding: 8px 15px;
      letter-spacing: 1px;
    }
  }
}

.offers-outer-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255,255,255,0.69);
}

h2.heading-two {
  font-weight: 300;
  font-size: 21px;
  
  padding: 0 15px;
  margin: 34px 0 21px;
  color: #bb0b00;
  box-sizing: border-box;
}

@media screen and (min-width: $tablet-min) {
  .indiegogo-wrapper {
    > a {
      > h2.jet-black {
        padding-top: 34px;
      }
      img {
        padding: 21px 0px;
      }
    }
  }
  .offers {
    .card {
      margin: 0 auto 92px auto;
    }
  }
  .offers-empty {
    width: $card-width;
  }
  .card {
    width: $card-width;
    .head {
      height: 114px;
      .title {
        font-size: 21px;
      }
      .foot {
        font-size: 13px
      }
    }
  }
  
  h2.heading-two {
    max-width: 529px;
    padding: 0 20px;
    margin: 0 auto 21px;
    font-size: 34px;
    box-sizing: content-box;
  }

}

@media screen and (min-width: $desktop-min) {
  .indiegogo-wrapper {
    max-width: 1280px;
    margin: 0 auto 89px;
    > a {
      > h2.jet-black {
        padding-top: 55px;
      }
      img {
        float: left;
        padding: 21px 80px;
      }
    }
  }

  .offers {
    padding: 0 80px;
    max-width: 1280px;
    box-sizing: border-box;
    .card {
      margin: 0 0 50px;
      flex: 0 47.5%;
    }
  }
  .card {
    .head {
      height: 114px;
      .title {
        font-size: 21px;
        font-weight: 300;
      }
      .foot {
        font-size: 13px;
        font-weight: 300;
      }
      .ride-button-cta {
        top: 32%;
        right: 34px;
        font-size: 21px;
        border: solid 1px white;
        padding: 8px 21px;
      }
    }
  }
  .offers-empty, .loadmore {
    padding: 0 80px;
    max-width: 1280px;
    box-sizing: border-box;
  }
  .offers-extra-orbital-wrapper {
    height: 110px;
    margin-top: -110px;
  }

  .offers-outer-wrapper {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: 693px;
    left: 0;
    right: 0;
    width: 100%;
    height: 110px;
    bottom: 0;
  }

  h2.heading-two {
    font-weight: 300;
    font-size: 34px;
    max-width: 1280px;
    padding: 0 80px;
    margin: 34px auto 21px;
    box-sizing: border-box;
  }
}

.loading {
  .head {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: slidingAnimation;
    animation-timing-function: linear;
    background: linear-gradient(to right, $card-head-color 8%, $card-head-dark 18%, $card-head-color 33%);
    background-size: 900px;
  }
}

@keyframes slidingAnimation{
  0% {
    background-position: -450px 0
  }
  100% {
    background-position: 450px 0
  }
}
