.page {
  padding: 64px 0 30px 0;
  text-align: center;
  .title {
    font-size: 35px;
    padding: 15px;
  }
  .head {
    font-size: 20px;
    padding: 15px;
  }
  .image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .text {
    text-align: left;
    white-space: pre-line;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 15px;
  }
  .page-btn {
    max-width: 290px;
    padding: 15px;
    display: block;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    background: black;
  }
}

@media screen and (min-width: $tablet-min) {
  .page {
    .image {
      max-width: 530px;
      height: 350px;
      margin: 15px auto;
    }
    .text {
      font-size: 20px;
      font-weight: 200;
      max-width: 500px;
      margin: 0 auto;
      line-height: 25px;
    }
    .page-btn {
      max-width: 320px;
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .page {
    .title {
      font-size: 45px;
    }
    .head {
      font-size: 24px;
      white-space: pre-line;
    }
    .page-btn {
      font-size: 24px;
      max-width: 400px;
    }
  }
}
