.page {
  padding: 64px 0;
  text-align: center;
  .page-body {
    > * {
      padding: 13px 0 21px;
    }
  }
  .title, .head, .subhead, .text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .title {
    font-size: 34px;
    margin: 0 auto;
    font-weight: 300;
    padding-top: 34px;
  }
  .head {
    font-size: 27px;
    font-weight: 300;
  }
  .subhead {
    font-size: 21px;
    font-weight: 300; 
  }
  .image {
    width: 100%;
  }
  .text {
    text-align: left;
    white-space: pre-line;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }
  .page-btn {
    max-width: 290px;
    display: block;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    background: black;
  }
}

.tos-title {
  margin-bottom: 34px;
  width: 100%;
  text-align: center;
}

ol.tos-list {
  list-style-type: none;
  margin-left: 0;
}

ol.tos-list > li {
  counter-increment: customlistcounter;
  margin-bottom: 55px;
}

ol.tos-list > li:before {
  content: "ยง " counter(customlistcounter);
  width: 3em;
  margin: 0 auto;
  display: block;
}

ol.tos-list:first-child {
  counter-reset: customlistcounter;
}

@media screen and (min-width: $tablet-min) {
  .page {
    .image {
      margin: 15px auto;
    }
    .head {
      font-size: 27px;
    }
    .subhead {
      font-size: 21px;
    }
    .text {
      font-size: 21px;
      font-weight: 100;
      margin: 34px auto;
      line-height: 25px;
    }
    .page-btn {
      max-width: 320px;
    }
  }
}

@media screen and (min-width: $desktop-min) {
  
  .page {
    .page-body {
      box-sizing: border-box;
      max-width: 1280px;
      padding: 0 80px;
      margin: 0 auto;
    }
    .title, .head, .subhead, .text {
      padding-left: 0px;
      padding-right: 0px;
    }
    .title {
      font-size: 72px;
      line-height: 81px;
      letter-spacing: 3px;
    }
    .head {
      font-size: 46px;
      letter-spacing: 2px;
      white-space: pre-line;
    }
    .subhead {
      font-size: 27px;
      font-weight: 300; 
    }
    .text {
      line-height: 30px;
      a {
        text-decoration: underline;
      }
    }
    .page-btn {
      font-size: 24px;
      max-width: 400px;
    }
  }
}
