.privacy {
  padding: 80px 15px;
  margin: 0 auto;
  p, li {
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }
  p {
    padding: 15px 0;
  }
  .title {
    font-size: 18px;
  }
}

@media screen and (min-width: $tablet-min) {
  .privacy {
    max-width: 650px;
    p, li {
      font-size: 20px;
      font-weight: 100;
      margin: 0 auto;
      line-height: 25px;
    }
    .title {
      font-size: 20px;
      padding: 15px 0;
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .privacy {
    .title {
      font-size: 23px;
    }
  }
}
