.ride-form {
  max-width: 448px;
  .dialog-title {
    @extend .t3;
    text-align: center;
    font-weight: $medium;
    color: black;
    margin: 30px 0 0 0;
  }
  .text {
    font-weight: $light;
    margin: 60px 0 15px;
    color: black;
  }
  .text-input {
    margin-top: -20px;
  }
  .price {
    color: black;
  }
}
