.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .location, .select, .range {
    flex: 2 1 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .select, .range {
    // hide default icon
    svg {
      display: none !important
    }
  }
  .date {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .filter {
    flex: 1 1 100%;
    input {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .material-icons {
    flex: 0 0 30px;
    line-height: 46px;
    font-size: 24px !important;
  }
  hr {
    width: calc(100% + 30px) !important;
    left: -30px !important;
  }
}

.menu-toggle {
  text-transform: uppercase !important;
  padding: 8px 0 6px !important;
  font-weight: 900 !important;
}
