.search {
  width: 100%;
  height: 50px;
  max-width: 1120px;
  margin: auto;
  display: flex;
  .location, .distance, .select, .date-wrap, .date {
    flex: 1 1 100%;
    display: flex;
    position: relative;
    input {
      @extend .dots;
      padding-left: 30px !important;
      box-sizing: border-box !important;
    }
    .material-icons {
      position: absolute !important;
      font-size: 24px !important;
      line-height: 46px;
    }
    .filter {
      position: absolute;
      left: 0;
      right: 0;
    }
  }
// hide SelectField default icons
  .select svg, .distance svg {
    display: none !important
  }
  .date input {
    cursor: pointer !important;
  }
}

.menu-toggle {
  text-transform: uppercase !important;
  padding: 8px 0 6px !important;
  font-weight: 900 !important;
}
