$user-menu-height: 32px;

.user-menu {
  height: $user-menu-height;
  width: 100%;
  padding-top: 64px;
  padding-left: 106px;
  background: black;
  .user-menu-item {
    @extend .t4;
    padding: 0 33px;
    display: inline-block;
    text-align: center;
    line-height: $user-menu-height;
    color: white;
    &:hover {
      font-weight: $medium;
    }
    &:after {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 1px;
      color: transparent;
      overflow: hidden;
      visibility: hidden;
      margin-bottom: -1px;
    }
  }
}

.user-wrap {
  @extend .cont;
  display: flex;
  justify-content: space-between;
  padding: 96px 120px;
  .user-side {
    .user-side-item {
      @extend .t4;
      height: 36px;
      width: 90px;
      display: block;
      margin-bottom: 10px;
      line-height: 40px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      &:hover {
        font-weight: bold;
      }
    }
    .view-profile {
      @extend .btn;
      display: block;
      margin-top: 70px;
    }
  }

  .user-edit {
    .user-form {
      width: 592px;
      margin-bottom: 48px;
      .head {
        @extend .t3;
        height: 46px;
        line-height: 46px;
        padding-left: 16px;
        border-bottom: solid 1px #9B9B9B;
      }
      .body {
        padding: 16px;
      }
    }
    .submit {
      @extend .btn;
    }
  }
}

.user-photo {
  height: 338px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  align-items: center;
  .image {
    width: 194px;
    height: 194px;
    overflow: hidden;
      background-size: cover;
      background-position: center center;
    .border {
      width: 100%;
      height: 100%;
      margin-top: -45px;
      margin-left: -45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 45px solid rgba(0, 0, 0, 0.2);
      .fa {
        font-size: 100px !important;
        color: rgba(0, 0, 0, 0.2) !important;
        transition: none !important;
      }
    }
  }
  .over {
    .border {
      border: 45px solid rgba(0, 0, 0, 1);
      .fa {
        color: rgba(0, 0, 0, 1) !important;
      }
    }
  }
  .photo-items {
    height: 128px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .image-btn {
      @extend .t6;
      font-weight: $regular;
      text-transform: uppercase;
      height: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 3px;
      border: 1px solid #9B9B9B;
      cursor: pointer;
    }
    .image-desc {
      @extend .t6;
      color: #9B9B9B;
      letter-spacing: 0;
    }
  }
}

