.create {
  @extend .cont;
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  .main-view {
    flex: 1;
    border-left: 30px solid transparent;
  }
  .side-view {
    flex: 0 0 300px;
    border-left: 40px solid transparent;
    border-right: 60px solid transparent;
    margin-top: 98px;
    .section {
      background-color: #F5F5F5 !important;
    }
  }
  .title {
    font-size: 34px !important;
    display: flex;
    align-items: flex-end;
    margin: 25px 0;
    .text {
      // margin-right: -10px;
    }
    .material-icons {
      z-index: -1;
      margin-left: -52px;
    }
  }
  .section {
    display: flex;
    flex-direction: column;
    padding: 0px 30px 20px 30px;
    margin-bottom: 40px;
    .header {
      @extend .h7;
      padding: 20px 0 0 0;
    }
    .body {
      @extend .t4;
      padding: 15px 0;
      color: rgba(0, 0, 0, 0.54);
    }
    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}

.image-upload {
  .drop-area {
    @extend .t6;
    height: 150px;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #D2DBE3 !important;
    .fa {
      color: #D2DBE3 !important;
      font-size: 69px !important;
      transition: none !important;
      padding-bottom: 10px;
    }
    &.over, &:hover {
      color: black !important;
      .fa {
        color: black !important;
      }
    }
  }
  .gallery {
    display: flex;
    .image {
      width: 100px;
      height: 100px;
      background-size: cover;
      background-position: center center;
      margin-right: 10px;
      border: 1px solid #D2DBE3;
      border-radius: 5px;
    }
  }
}
