<div id="app">{{{content}}}</div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCdqKWZgAE65hVV89OmGEfeNTQkOB9EXM8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/gcal.min.js" type="text/javascript"></script>
<script>
    window.APP_DATA = {{{context}}};
</script>
<script src="/dist/app.js"></script>
