<div id="app">{{{content}}}</div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCdqKWZgAE65hVV89OmGEfeNTQkOB9EXM8"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
    window.APP_DATA = {{{context}}};
</script>
<script src="/dist/app.js"></script>
