<div id="app">{{{content}}}</div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCdqKWZgAE65hVV89OmGEfeNTQkOB9EXM8"></script>
<script>
    window.APP_DATA = {{{context}}};
</script>
<script src="/dist/app.js"></script>

<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8863064;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->
