<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>VIKING GARAGE – Platforma z ofertami motocykli na wynajem</title>
  <meta name="Description" content="aplikacja i społeczność z ofertami motocykli na wynajem. Sprzęt, instruktorzy, lokalizacje, społeczność" />
  <meta name="Keywords" content="motocykle, wynajem, krótkoterminowo, długoterminowo, instruktorzy, tory, transport, sprzęt, społeczność, SEC, platrforma, rynek, oferty, motocross, custom, enduro, cafe racer, braap" />

  <!-- FACEBOOK -->
  <meta property="og:url" content="https://www.vikinggarage.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Platforma z ofertami motocykli na wynajem. Sprzęt, instruktorzy, lokalizacje, społeczność" />
  <meta property="og:description" content="VIKING GARAGE to aplikacja i społeczność z ofertami motocykli na wynajem. Motocross, enduro, custom, 125 prawo jazdy kat. B, adrenalina, motoryzacja, sport. Sprzęt ochronny, transport, instruktorzy." />
  <meta property="og:image" content="http://res.cloudinary.com/hkhuw4b7v/image/upload/v1500318899/VIKINGGARAGE-logo-1200-600.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="600" />
  
  <link rel="icon" type="image/png" sizes="192x192"  href="https://res.cloudinary.com/hkhuw4b7v/image/upload/v1500289944/favicon/android-icon-192x192_aqpxlx.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/hkhuw4b7v/image/upload/v1500289945/favicon/favicon-32x32_gtklq5.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://res.cloudinary.com/hkhuw4b7v/image/upload/v1500289946/favicon/favicon-96x96_f0cons.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/hkhuw4b7v/image/upload/v1500289945/favicon/favicon-16x16_lpmcpq.png">

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', {{{GA}}}, 'auto');
  ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="/dist/styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/8ab56a8e28.js"></script>
  <meta name="viewport" content="width=device-width" />
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
{{{body}}}
</body>
</html>
